<div class="card card-body mt-5 mb-2" *ngFor="let product of products">
    <div class="row">
        <div class="col-md-8">
          <ul>
              <li>Name: {{product.name}}</li>
              <li>description: {{product.description}}</li>
              <li>price: {{product.price}}</li>
              <li>Created: {{product.createdAt | date :'yyyy-MM-dd'}}</li>
          </ul>
          <button class="btn btn-danger" (click)="deleteProduct(product._id)">delete</button>
          <a class="btn btn-secondary" [routerLink]="['/products/edit',product._id]">edit</a>

        </div>
        <div class="col-md-4">
          <img src="http://localhost:3000{{product.imageUrl}}" alt="" width="200" class="iform-control">
        </div>
    </div>
</div>